

*   {
    box-sizing: border-box;
    
}


@font-face {
    font-family: 'Moskva Regular';
    src: url('../fonts/moscow/1Antuanetta.eot');
    src: url('../fonts/moscow/1Antuanetta.eot?#iefix') format('embedded-opentype'),
    url('../fonts/moscow/1Antuanetta.woff') format('woff'),
    url('../fonts/moscow/1Antuanetta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.promo {
    background: #333333;
    background-size: 100%;
    min-height: 50px;
    margin: 0 auto;
}


.header {
    display: flex;
   justify-content: space-between;
    text-decoration: none;
}

.header .header_link {
    margin-top: 12px;
    text-decoration: none;
    font-family: 'Moskva Regular'; 
}

.header .header_link a {
    margin-left: 15px;
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.header .header_tel {
    margin-top: 12px;
    text-decoration: none;
    font-family: 'Moskva Regular'; 
}

.header .header_tel a {
    margin-left: 15px;
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-family: 'Moskva Regular'; 
}

.search{
    padding: 10px 0 10px 0;
    display: flex;
   justify-content: space-between;
    text-decoration: none;
}

.search .logo { 
    display: flex;
   justify-content: space-between;
    text-decoration: none;
}
.search .logo_link img{
    width: 130px;
}
.search .logo button {
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
  width: 130px;
  margin-top: 20px;
  font-family: 'Moskva Regular'; 
  background: transparent;
  background-color: #fff;
  border-color: #333333;
  border-style: solid;
}

.search .logo form {
    border-radius: 10px;
    height: 40px;
    
    /* height: 50px;
    border-radius: 10px;
    margin-right: 250px;
    width: 130px;
    margin-top: 10px;
    font-family: 'Moskva Regular';  */
  }

  .search .logo input {
    border-radius: 10px;
    width: 600px;
    height: 40px;
    padding: 10px;
    border-color: #333333;
    border-style: solid;
    /* height: 50px;
    border-radius: 10px;
    margin-right: 250px;
    width: 130px;
    margin-top: 10px;
    font-family: 'Moskva Regular';  */
  }

.logo .logo_basket {
    font-size: 10px;
}

.carousel {
padding: 10px 0;
height: 350px;
}

.carousel .carousel__inner {
    position: relative;
    width: 1300px;
    margin: 0 auto;
}

.carousel .carousel__inner .slick-prev {
position: absolute;
border: none;
background-color: #fff;   
top:45%;
transform: translateY(-50%);
left: -53px;
}

.carousel .carousel__inner .slick-prev img {
    width: 40px;
}


.carousel .carousel__inner .slick-next {
    position: absolute;
    border: none;
    background-color: #fff;   
    top:45%;
    transform: translateY(-50%);
    right: -53px;
    }
    
    .carousel .carousel__inner .slick-next img {
        width: 40px;
    }

.catalog {
    padding: 15px 0 15px 0;
}

.catalog .catalog_tabs {
    list-style-type: none;
    font-family: 'Moskva Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.catalog .catalog__tab {
    /* width: 200px; */
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 26px;
    cursor: pointer;
}

.catalog__tab:hover { 
    
    color: #333333;
    text-decoration: underline;
    text-shadow: #333333;
      
}
 













